*.o
*.obj

Mo.exe
Mo
*.out
*.app

*.lib
*.a
*.so
*.dll
*.dylib

*.gch
*.pch

build/
cmake-build-*/

*.d

.vs/
*.suo
*.user
*.sln.docstates
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
ipch/

.idea/
*.iml

.vscode/
*.code-workspace

*.autosave
*.user.*
moc_*.cpp
ui_*.h
qrc_*.cpp

*.xcworkspace
xcuserdata/
DerivedData/

Thumbs.db
Desktop.ini
ehthumbs.db
*.lnk

.DS_Store
.AppleDouble
.LSOverride
Icon*
._*

*~

bin/

*.log

*.tmp
*.swp
*.swo
*~

venv/
.env

node_modules/

.dockerignore